html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.label-text {
  font-size: var(--mantine-font-size-sm);
  margin-bottom: 3px;
  font-weight: 500;
}
.line-height-1-3 {
  line-height: 1.3;
}
.unstyled-input {
  background: transparent;
  border: none;
  outline: none;
}
